<form (ngSubmit)="onSubmit()" #simpleForm="ngForm">
  <div><br>
    <label for="name">Name:</label>&nbsp;&nbsp;
    <input type="text" id="name" [(ngModel)]="name" name="name" required />
  </div>
  <div>
    <label for="email">Email:</label>&nbsp;&nbsp;&nbsp;
    <input type="email" id="email" [(ngModel)]="email" name="email" required />
  </div>
  <br>
  <button type="submit">Submit</button>
</form>

<div *ngIf="submittedData">
  <h3>Submitted Data:</h3>
  <p>Name: {{ submittedData.name }}</p>
  <p>Email: {{ submittedData.email }}</p>
</div>
